.sidebarheader {
    grid-area: header;
}

.sidebar_search {
    grid-area: menu;
}

.sidebar_chats {
    grid-area: chats;
    background-color: #202C33;
}


/* .item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; } */

.sidebar {
    display: grid;
    grid-template-areas: 'header' 'menu' 'chats';
    /* direction: column; */
    grid-template-rows: 80px 59px 79%;
    flex: 0.35;
    border-right: 1px solid grey;
}

.sidebarheader {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Sidebar_rightheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
    /* padding-left: 10px; */
}

.Sidebar_rightheader>.MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar_search {
    display: flex;
    align-items: center;
    background-color: #1B2430;
    height: 39px;
    padding: 10px;
}

.siderbar_searchConatiner {
    display: flex;
    /* direction: row; */
    align-items: center;
    background-color: #202C33;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    position: relative;
    padding-left: 10px;
    width: 85%;
}

.siderbar_searchConatiner>input {
    border: none;
    background-color: #202C33;
    padding-left: 25px;
    width: 100%;
    outline-width: 0;
}

.sidebar_chats {
    background-color: #1B2430;
}